<div class="container">
  <div class="row" style="background-color: #e3f2fd;">
    <div class="col-12">


      <div class="float-left">
        <h1 class="text-center text-primary">Stock Watch List</h1>
      </div>

      <div class="float-right float-top">
        <div class="form-group">
          <form (ngSubmit)="onAddNewStock()" #addStockForm="ngForm">  <!-- #addStockForm="ngForm" -->
            <div class="input-group" style="margin-top: 10px;">
              <mat-form-field >
                <!-- <input type="text" id="stockSymbol" class="form-control" placeholder="enter symbol"
                  [formControl]="addStockSymbolControl" name="stockSymbol" required [matAutocomplete]="auto"> -->
              <input type="text" class="form-control" placeholder="enter symbol" matInput [formControl]="addStockSymbolControl" name="stockSymbol" required [matAutocomplete]="auto">  <!-- ngModel -->
                <mat-autocomplete   #auto="matAutocomplete"  >
                  <!-- autoActiveFirstOption [displayWith]="displayStockListFn" -->
                  <mat-option *ngFor="let option of filteredSymbols | async" [value]="option['ACT Symbol']">
                    {{ option['ACT Symbol'] }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <button class="btn btn-primary form-control input-group-btn" type="submit" [disabled]="!addStockSymbolControl.valid" style="margin-left: 5px; margin-top: 20px;" >Add Stock</button>
              <!-- [disabled]="!addStockForm.valid" -->
              <!-- <span class="help-block" *ngIf="!addStockSymbolExists && addStockForm.valid">Stock Symbol does not exist.</span> -->
            </div>
            <mat-error *ngIf="addStockSymbolControl.touched &&!addStockSymbolControl.valid">
              <div>Symbol not recognized.</div>
            </mat-error>
          </form>
        </div>
      </div>

    </div>
  </div> <!-- row -->

  <!-- place the grid data here -->
  <app-stock-grid></app-stock-grid>
  <!-- <app-stock-grid [newStockDataSource]="allStocks"></app-stock-grid> -->
</div>

