<div class="">  <!--col-mb-4 -->
  <div class="card text-white" 

      [ngClass]="{'bg-success': stockQuote.curPercentChange >= 0,
        'bg-danger': stockQuote.curPercentChange < 0}">
      <div class="card-body">
        <h4 class="card-title">{{stockQuote.name}}</h4>

        <h5 class="card-subtitle mb-2">{{stockQuote.curPercentChange!==0 ? stockQuote.curPercentChange.toFixed(2) + ' %' : 'UNCH'}}</h5>
        <div class="list-group list-group flush">
          <p class="card-tex tab">Symbol: {{stockQuote.symbol}}</p>
          <p class="card-text tab">Open: {{stockQuote.openPrice}}</p>
          <p class="card-text tab">Low: {{stockQuote.dayLow}}</p>
          <p class="card-text tab">High: {{stockQuote.dayHigh}}</p>
        </div>
        <!-- <ul class="list-group list-group-flush">
          <li class="list-group-item ">Change: {{stockQuote.curPercentChange}} %</li>
          <li class="list-group-item">Symbol: {{stockQuote.symbol}}</li>
          <li class="list-group-item">Open: {{stockQuote.openPrice}}</li>
          <li class="list-group-item">Low: {{stockQuote.dayLow}}</li>
          <li class="list-group-item">High: {{stockQuote.dayHigh}}</li>
        </ul> -->
    </div>
  </div>
</div>

