li {
  background-color: transparent
}

.card {
  border-radius: 5%;
  border-color: white;
  border-width: 4px;

  width: 16rem;
  height: 21rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 0rem;
  /* animation: move-card-jump .7s forwards; */
}
.card:hover1 {
  transform: rotateY(180deg);
}
.tab {
  padding-left: 14px;
  font-size:larger;
}

@keyframes move-card-jump {
  0% {
    bottom: -0.2em;
    opacity: 1;
    /* color: blue; */
    transform: translateY(0);
  }

  50% {
    bottom: 0.2em;
    /* color: lightblue; */
    transform: translateY(-30px);
  }

  100% {
    bottom: 0;
    opacity: 1;
    /* color: white; */
    transform: translateY(0);
  }
}
