li {
  background-color: transparent
}

.card {
  border-radius: 5%;
  border-color: white;
  border-width: 4px;

  width: 16rem;
  height: 21rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 0rem;

}
.card:hover1 {
  transform: rotateY(180deg);
}
.tab {
  padding-left: 14px;
  font-size:larger;
}
