<!-- <app-stock-list></app-stock-list> -->

<app-login class="float-right col-md-3 border border-primary rounded-sm login-form enter-from-right"
  style="margin-top: 5px; margin-right: 5px; box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.24); "
  *ngIf="!userIsLoggedIn"></app-login>
<!-- <div class="float-left enter-from-left">
  <p>This is the left</p>
</div> -->

  <br>
<div class="container text-white" style="min-height: 275px;">
  <h1 class="text-center text-primary">Welcome to the Stonk Pit</h1>
  <br>
  <div class="row">
    <div class= "container col-md-10">
      <h2>Have you noticed all those jerks getting rich playing with STOCKS and working a few hours each
        week while you are working a long hours and hard each week?
      </h2>

      <br>
      <div class="row"><br></div>
      <div class="row"><br></div>
      <h1 class="text-success">With the same tools, you to
        could be living like royalty too!</h1>

        <br>
      <h2>Sign up now to enjoy the luxury of real-time Stock Market Monitoring that
        includes Sector Breakouts and your own personal Favorites Watch List. </h2>

    </div>

  </div>

  <div class="row"><br></div>
  <div class="row"><br></div>
  <div class="row"><br></div>
  <div class="row"><br></div>
  <div class="row">
    <div class="container col-md-10 float-bottom">
      <app-random-quote></app-random-quote>
    </div>
  </div>

  <br><br><br>
  <div class=" container col-md-10 text-center">
    <p>Enjoy your time on The Stonk Pit!</p>
  </div>

</div>
<!-- <app-stock-list></app-stock-list> -->
