.body-text {
  border-right: 10px;
}

li {list-style-type: none;}

.login-form {
  /* background-color: white; */
  background-color: #e3f2fd;
}

/* sliding in the Login form from the right to the left */
.enter-from-right {
  animation: moveleft 1s 1 normal forwards;
}

@keyframes moveleft {
  0% {
    opacity: 0;
    transform: translateX(1000px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* content adjustments */
h1 {
  font-size: xx-large;
}

/* sliding in the Login form from the left to the right */
.enter-from-left {
  height: 100px;
  width: 75px;
  color: white;
  animation: moveright 3s 1 normal forwards;
}

@keyframes moveright {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
