<!-- creating a footer shared across all pages -->

<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<nav class="" style="background-color: #e3f2fd;">
  <div class="row justify-content-center text-white">
    <div id="social-media">
      <button type="button" class="btn btn-social-icon btn-github btn-rounded"><a href="https://github.com/alphasig29/stock-market-app" target="_blank" class="text-white"><i class="fa fa-github fa-lg icon"></i></a></button>
      <button type="button" class="btn btn-social-icon btn-linkedin btn-rounded"><a href="https://www.linkedin.com/in/roger-smith-8441a1118/" target="_blank" class="text-white"><i class="fa fa-linkedin fa-lg icon"></i></a></button>
      <button type="button" class="btn btn-social-icon btn-facebook btn-rounded"><a href="https://www.facebook.com/SuperRog"  target="_blank"class="text-white"><i class="fa fa-facebook fa-lg icon"></i></a></button>
      <button type="button" class="btn btn-social-icon btn-twitter btn-rounded"><a href="https://twitter.com/" target="_blank" class="text-white"><i class="fa fa-twitter fa-lg icon"></i></a></button>
      <button type="button" class="btn btn-social-icon btn-google btn-rounded"><a href="https://www.google.com/"  target="_blank"class="text-white"><i class="fa fa-google fa-lg icon"></i></a></button>
      <button type="button" class="btn btn-social-icon btn-youtube btn-rounded"><a href="https://www.youtube.com/"  target="_blank"class="text-white"><i class="fa fa-youtube fa-lg icon"></i></a></button>
      <button type="button" class="btn btn-social-icon btn-instagram btn-rounded"><a href="https://www.instagram.com/"  target="_blank" class="text-white"><i class="fa fa-instagram fa-lg icon"></i></a></button>
      <button type="button" class="btn btn-social-icon btn-reddit btn-rounded"><a href="https://www.reddit.com/"  target="_blank" class="text-white"><i class="fa fa-reddit fa-lg icon"></i></a></button>
    </div>
  </div>
</nav>
<nav class="navbar navbar-dark bg-primary">
</nav>

<footer>
  <p class="text-center">@ 2022 Copyright: {{title}}</p>

</footer>



